[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
typing = "*"
python-dotenv = "*"
psycopg2-binary = "*"
alembic = "*"
pre-commit = "*"
passlib = "*"
bcrypt = "==4.0.1"

[dev-packages]

[requires]
python_version = "3.10"
